@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

#taskHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    font-family: "Cabin", sans-serif;
    color: #f7768e;
    /*background-color: #1a1b26;*/
}

.list {
    list-style-type: none;
    padding: 0;
}